* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}


.top {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%);
    background-image: url(img/back_main.jpg);
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__text {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF; 
    padding-top: 217px;
    padding-bottom: 32px;
}

.header__text_desc {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 44px;
}

.header__link_button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__link_button:hover {
    background: #EB443F;
}

.bottom {
    background: #000915;
    height: 556px;
}

.item__box {
    padding-top: 128px;
    display: flex;
    gap: 32px;
}

.item__text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 32px;
    padding-bottom: 32px;
}

.item__box_item {
    width: 379px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
}

.item__box_item:nth-child(1) {
    background-image: url(img/back_item1.png);
}

.item__box_item:nth-child(1) {
    background-image: url(img/back_item1.png);
}

.item__box_item:nth-child(2) {
    background-image: url(img/back_item2.png);
}

.item__box_item:nth-child(3) {
    background-image: url(img/back_item3.png);
}

.item__box_item:hover {
    border: 3px solid #44D2FF;
}